.panel {
  position: relative;
  background-color: whitesmoke;
}

.avatar {
  z-index: 1000;
  position: absolute;

  top: 30%;
  left: 50%;

  width: 150px;
  height: 150px;

  opacity: 0;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 7px black;
  animation: fade 0.8s forwards;
  transform: translate(-50%, -50%);
}

.banner {
  position: absolute;
  top: 29%;
  
  transform-style: preserve-3d;
}

.banner:nth-child(4) {
  left: 20%;
  animation: rotate1 2s forwards;
}

.banner:nth-child(5) {
  left: 80%;
  animation: rotate2 2s forwards;
}

.man {
  position: absolute;
  bottom: -3%;
  transform: translate(0, 100%);
}

.man:nth-child(6) {
  left: 10%;
  animation: up 0.5s 0s forwards;
}

.man:nth-child(7) {
  left: 25%;
  animation: up 0.5s 0.1s forwards;
}

.man:nth-child(8) {
  left: 40%;
  animation: up 0.5s 0.2s forwards;
}

.man:nth-child(9) {
  left: 50%;
  animation: up 0.5s 0.2s forwards;
}

.man:nth-child(10) {
  left: 50%;
  animation: up 0.5s 0.1s forwards;
}

.man:nth-child(11) {
  left: 70%;
  animation: up 0.5s 0s forwards;
}

.aquila {
  z-index: 1000;
  position: absolute;

  top: 45%;
  left: 50%;

  height: 150px;

  opacity: 0;

  animation: fade 0.8s 1s forwards;
  transform: translate(-50%, -50%);
}

.wrapper {
  overflow: hidden;
  position: absolute;
  flex-direction: column;

  top: calc(45% + 80px);
  left: 50%;

  height: 0;
  width: 50%;
  max-width: 160px;

  padding: 0 16px;

  background-color: #263238;
  box-shadow: 0 0 4px black;
  border-radius: 10px;
  transform: translateX(-50%);
  animation: grow 0.8s 1s forwards;
}

.button:nth-of-type(1) {
  margin-bottom: 20px;
}

.button {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.name {
  z-index: 1000;
  position: absolute;
  top: 7%;
  left: 50%;

  width: 100%;
  
  text-align: center;
  font-weight: bolder;
  font-size: 24px;
  color: black;

  text-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;

  opacity: 0;
  animation: fade 0.8s forwards;
  transform: translateX(-50%);
}

@keyframes grow {
  0% {
    height: 0;
    padding: 0 16px;
  }
  100% {
    height: 90px;
    padding: 16px 16px;
  }
}

@keyframes up {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate1 {
  0% {
    transform: translate(-50%, -50%) rotateX(60deg) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(-25%, -50%) rotateX(0deg) rotateZ(10deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotateX(60deg) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(-75%, -50%) rotateX(0deg) rotateZ(-10deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
