.Input input {
  font-weight: inherit;
  color: inherit;
}

.spinner-wrapper {
  overflow: hidden;
  height: 0;
  opacity: 0;

  transition: all 0.5s;
}

.spinner-wrapper.active {
  height: 60px;
  opacity: 1;
}
